/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  opacity: 0.5;
  margin: auto;
  padding: 0;
  border: 1px solid black;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: verdana, tahoma, sans-serif;
  font-size: 19px;
}

.closebutton {
  opacity: 0.5;
  background-color: white; /* Green */
  border: none;
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana, tahoma, sans-serif;
  font-size: 19px;
}

.modal_text {
  text-align: center;
  line-height: 1.6;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {bottom:-300px; opacity:0} 
  to {bottom:0; opacity:0.5}
}

@keyframes animatetop {
  from {bottom:-300px; opacity:0}
  to {bottom:0; opacity:0.5}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-body {
  padding: 2px 16px;
  background-color: whitesmoke;
  opacity: 50%;
}

.modal-footer {
  padding: 2px 16px;
  background-color: whitesmoke;
  /* border-top: 1px solid black; */
  color: white;
  opacity: 0.5;
  text-align: center;
}

body {
  margin: 0
}



  a:link {
    color: #E5CEC3;
    text-decoration:none;
  }


  a:visited {
    color: #E5CEC3;
    text-decoration:none;
  }

  a:active {
    color: #E5CEC3;
    text-decoration:none;
  }

  a:hover {
    color: #FFFFFF;
    text-decoration:none;
  }


  



  
.about {
    width: 540px;
    margin: auto;
  }



  body {
    background-color: gray; /* Used if the image is unavailable */
    border: none;
  }

  .audio-reel-image {
    background-image: url(AUDIO_REEL.jpg);
    background-color: black; /* Used if the image is unavailable */
    height: 1400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  html, body { 
    font-family: 'Roboto', helvetica, sans-serif; 
    font-display: auto;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: gray;
    text-align: center;
    align-content: center;
  }



.home-image-old {
  height: 500px;
  object-fit: cover;
  object-position: top;
  background-color: gray; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  -webkit-background-size: cover;
  -webkit-background-repeat: no-repeat;
  -webkit-background-position: center;
  -webkit-background-color: gray; /* Used if the image is unavailable */
}
  
.home-image {
  background-image: url(Home_Page.jpg); /* The image used */
  background-color: gray; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

.about-image {
  background-image: url(About.jpg); /* The image used */
  background-color: gray; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.contact-image {
  background-image: url(Contact.jpg); /* The image used */
  background-color: gray; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


@media screen and (max-width: 5600px) {



  .tkadm_responsive {
    width: 331px;
    height:159px;
  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-left: Auto;
    margin-right: Auto;
    }
  

    .About_Text_Main {
      text-align: justify;
      color: white;
      font-family: verdana, tahoma, sans-serif;
      font-size: 19px;
      line-height: 1.2;
      width: 520px;
      margin: auto;
    }
    
    .About_Text_Quote {
      text-align: center;
      color: white;
      font-family: verdana, tahoma, sans-serif;
      font-size: 17px;
      line-height: 1.2;
      width: 500px;
      margin: auto;
    }


  .navigation_white {
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    text-decoration: none;
    font-family: 'Roboto', helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .navigation{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    text-decoration: none;
    font-family: 'Roboto', helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .contact_text {
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    color: #FFFFDB;
    font-family: verdana, tahoma, sans-serif;
    font-size: 22px;
  }

  .contact_credit_text {
    padding-left: 10px;
    padding-right: 10px;
    font-style: normal;
    color: #FFFFDB;
    font-family: verdana, tahoma, sans-serif;
    font-size: 14px;
  }

}


@media screen and (max-width: 600px) and (min-width: 400px) {


  .tkadm_responsive {
    width: 281px;
    height:135px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-left: Auto;
    margin-right: Auto;
    }



    .About_Text_Main {
      text-align: justify;
      color: white;
      font-family: verdana, tahoma, sans-serif;
      font-size: 17px;
      line-height: 2;
      width: 380px;
      margin: auto;
    }
    
    .About_Text_Quote {
      text-align: center;
      color: white;
      font-family: verdana, tahoma, sans-serif;
      font-size: 15px;
      line-height: 1.2;
      width: 380px;
      margin: auto;
    }


    .navigation_white {
      border-width:1px 0;
      list-style:none;
      margin:0;
      padding:0;
      text-align:center;
      text-decoration: none;
      font-family: 'Roboto', helvetica, sans-serif;
      font-size: 20px;
    }

    .navigation{
      border-width:1px 0;
      list-style:none;
      margin:0;
      padding:0;
      text-align:center;
      text-decoration: none;
      font-family: 'Roboto', helvetica, sans-serif;
      font-size: 20px;
    }

    .contact_text {
      word-break: normal;
      padding-left: 20px;
      padding-right: 20px;
      font-style: normal;
      color: #FFFFDB;
      font-family: verdana, tahoma, sans-serif;
      font-size: 18px;
    }
  
    .contact_credit_text {
      word-break: normal;
      padding-left: 10px;
      padding-right: 10px;
      font-style: normal;
      color: #FFFFDB;
      font-family: verdana, tahoma, sans-serif;
      font-size: 10px;
    }

}




@media screen and (max-width: 400px) {


  .tkadm_responsive {
    width: 248px;
    height:119px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-left: Auto;
    margin-right: Auto;
    }

    
  .About_Text_Main {
    text-align: justify;
    color: white;
    font-family: verdana, tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    width: 290px;
    margin: auto;
  }
  
  .About_Text_Quote {
    text-align: center;
    color: white;
    font-family: verdana, tahoma, sans-serif;
    font-size: 13px;
    line-height: 1.2;
    width: 290px;
    margin: auto;
  }


  .navigation_white {
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    text-decoration: none;
    font-family: 'Roboto', helvetica, sans-serif;
    font-size: 14px;
  }

  .navigation{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    text-decoration: none;
    font-family: 'Roboto', helvetica, sans-serif;
    font-size: 14px;
  }

  .contact_text {
    word-break: normal;
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    color: #FFFFDB;
    font-family: verdana, tahoma, sans-serif;
    font-size: 16px;
  }

  .contact_credit_text {
    word-break: normal;
    padding-left: 10px;
    padding-right: 10px;
    font-style: normal;
    color: #FFFFDB;
    font-family: verdana, tahoma, sans-serif;
    font-size: 9px;
  }

}

.navigation li{
  display:inline;
  color: black;
}
.navigation a{
  display:inline-block;
  padding:10px;
  color: black;
}
.navigation a:hover{
  color: white;
}

.middle {
    display: flex;
    flex: 0 1 1080;
    justify-content: center;
}


.navigation_white li{
  display:inline;
  color: white;
}
.navigation_white a{
  display:inline-block;
  padding:10px;
  color: white;
}
.navigation_white a:hover{
  color: black;
}

.audio_reel_outer_box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.audio_reel_outer_item_grow {
  width: auto;
  height: auto;
  min-width: 0;
  flex-grow: 1;

}

.audio_reel_outer_item_shrink {
  width: auto;
  height: auto;
  flex-shrink: 0;
  min-width: 0;
  flex-basis: 50%;
}


.audio_reel_flex_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-height: 200vh;
  max-width: 1080px;
}


.audio_reel_item {
  width: 300px;
  height: auto;
  margin: 5px;
}


.audio_reel {
  position: relative;
  font-family: Arial;
  max-width: 350px;
}

.audio_reel_text_block {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  text-align: left;
  line-height: 0.1;
  font-family: verdana, 'Roboto', helvetica, sans-serif;
  font-size: 0.9em;
}

.about_footer {
  position:absolute;
  bottom:5px;
  width:100%;
}

.socialmedia a:hover {
    color: #FFFFFF;
}

.socialmedia a {
  color: #FFFFDB;
}

.socialmedia p {
  color: #FFFFDB;
}